@mixin MyFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// @include MyFlex;
#reasonToShopSection {
    background-color: red;
    background-image: url(https://topbike-store-demo.myshopify.com/cdn/shop/files/slider.jpg?v=1613576060);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    @include MyFlex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 40px;

    h1 {
        text-align: center;
        font-size: 50px;
        color: white;
    }

    .reasonShopLine {
        background-color: #ffab00;
        width: 60px;
        height: 3px;
    }

    .swiper {
        width: 100%;
        padding: 30px 0px 80px 0px;
    }

    .swiper-slide {
        text-align: center;
        .aboutInformCard {
            @include MyFlex;
            flex-direction: column;
            gap: 20px;
            color: white;

            h1 {
                font-size: 20px;
            }

            p {
                font-size: 20px;
                max-width: 300px;
                text-align: center;
            }
        }
    }

    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    #reasonToShopSection {
        h1 {
            font-size: 35px;
        }
    }


}