.unique {
    width: 100%;
    min-height: 90vh;
    padding: 80px 150px;

    .description {
        h2 {
            font-size: 50px;
            width: 60%;

        }

        p {
            font-size: 20px;
            line-height: 30px;
            padding: 30px 0;
        }

        .explore {
            color: black;

            &:hover {
                color: goldenrod;
            }
        }
    }

    .iframe {
        margin: 50px 0;
    }
}

@media screen and (max-width: 768px) {
    .unique{
        padding: 80px 10px;
        .description{
            h2{
                width: 100%;
                text-align: center;
                font-size: 2em;
            }
            p{
                font-size: 1em;
                text-align: center;
            }
        }
    }
}